Repository kleros/pnk-merkle-drop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(snapthost): added CLI tool to generate the snapshots
  snapshots/.env.example
  snapshots/.eslintignore
  snapshots/.prettierignore
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/assets/KlerosLiquid.json
  snapshots/src/create-snapshot.js
  snapshots/src/helpers/big-number-json-replacer.js
  snapshots/src/helpers/events.js
  snapshots/src/store-snapshot.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: added --save option
  snapshots/cli.js
Due: eslint --fix

chore: deployed contracts to Kovan and Mainnet
  contracts/deployments/kovan/.chainId
  contracts/deployments/kovan/MerkleRedeem.json
  contracts/deployments/mainnet/.chainId
  contracts/deployments/mainnet/MerkleRedeem.json
  contracts/package.json
  contracts/src/MerkleRedeem.sol
Due: prettier --write

refactor: changed the snapshot generator script
  snapshots/.gitignore
  snapshots/README.md
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/create-snapshot.js
  snapshots/src/helpers/blocks.js
  snapshots/src/helpers/events.js
  yarn.lock
Due: prettier --write, eslint --fix

docs: added README
  contracts/.npmignore
  contracts/README.md
  contracts/package.json
Due: prettier --write

feat: allow saving snapshot locally
  snapshots/README.md
  snapshots/cli.js
  snapshots/package.json
Due: prettier --write, eslint --fix

chore: move dotenv to dependencies
  snapshots/package.json
Due: prettier --write

feat(snapshots) calculate fixed amounts with --fixedAmount param
  contracts/.env.example
  contracts/deployments/kovan/MerkleRedeem.json
  contracts/hardhat.config.js
  snapshots/cli.js
  snapshots/src/create-snapshot.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: added start date and end date to the snapshot file
  snapshots/src/create-snapshot.js
Due: eslint --fix

refactor: changed end date to be exclusive
  snapshots/README.md
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/create-snapshot.js
  snapshots/src/store-snapshot.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor: changed average stake calculation algorithm
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/create-snapshot-from-block-limits.js
  snapshots/src/create-snapshot.js
  snapshots/src/helpers/blocks.js
  snapshots/src/helpers/events.js
Due: prettier --write, eslint --fix

feat: added support for multiple chains
  .eslintrc.json
  contracts/bin/flatten.sh
  contracts/deploy/01-merkleRedeem.js
  contracts/deployments/xdai/.chainId
  contracts/deployments/xdai/MerkleRedeem.json
  contracts/hardhat.config.js
  contracts/package.json
  snapshots/.env.example
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/assets/xKlerosLiquid.json
  snapshots/src/create-snapshot-from-block-limits.js
  snapshots/src/create-snapshot.js
  snapshots/src/helpers/events.js
  snapshots/src/store-snapshot.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: invalid reference to local package version
  snapshots/package.json
Due: prettier --write

fix: added postinstall step to merkle-tree package
  merkle-tree/package.json
Due: prettier --write

fix: switch postinstall to prepare in merkle-tree package
  merkle-tree/package.json
Due: prettier --write

fix: manually add prepare script for merkle-tree package
  package.json
Due: prettier --write

feat: get events from subgraph
  snapshots/.env.example
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/create-snapshot-from-block-limits.js
  snapshots/src/helpers/blocks.js
  snapshots/src/helpers/subgraph-events.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: order events
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

feat: kip66
  snapshots/.env.example
  snapshots/cli.js
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

fix: use previous month to get %
  snapshots/cli.js
Due: eslint --fix

chore: patch for february disbursement
  snapshots/cli.js
Due: eslint --fix

fix: change link to new ipfs gateway
  snapshots/cli.js
Due: eslint --fix

fix: migrate ipfs to filebase. Remove dependency of @kleros/file-to-ipfs
  snapshots/.env.example
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/fileToIpfs.js
Due: prettier --write, eslint --fix

chore: upgrade node version to 18
  snapshots/package.json
Due: prettier --write

fix: add missing /ipfs/ into link
  snapshots/cli.js
  snapshots/src/fileToIpfs.js
Due: eslint --fix

fix: read stakeSet from kleros-display subgraphs. Migration to studio do the hosted-service deprecation
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

feat: more structuring to make arbitrum work
  v2/contracts/.env.example
  v2/contracts/.gitignore
  v2/contracts/.npmignore
  v2/contracts/README.md
  v2/contracts/deploy/01-merkleRedeem.js
  v2/contracts/hardhat.config.js
  v2/contracts/package.json
  v2/contracts/yarn.lock
  v2/snapshots/.env.example
  v2/snapshots/.eslintignore
  v2/snapshots/.gitignore
  v2/snapshots/.prettierignore
  v2/snapshots/README.md
  v2/snapshots/cli.js
  v2/snapshots/package.json
  v2/snapshots/src/assets/KlerosCoreNeo.json
  v2/snapshots/src/create-snapshot-from-block-limits.js
  v2/snapshots/src/create-snapshot.js
  v2/snapshots/src/fileToIpfs.js
  v2/snapshots/src/helpers/big-number-json-replacer.js
  v2/snapshots/src/helpers/blocks.js
  v2/snapshots/src/helpers/events.js
  v2/snapshots/src/helpers/subgraph-events.js
  v2/snapshots/src/store-snapshot.js
  v2/snapshots/yarn.lock
Due: prettier --write, eslint --fix

feat: support for v2 rewards, do everything in safe
  contracts/deployments/kovan/.chainId
  contracts/deployments/kovan/MerkleRedeem.json
  snapshots/.env.example
  snapshots/cli.js
  snapshots/src/helpers/subgraph-events.js
  snapshots/src/helpers/tx-builder.js
Due: prettier --write, eslint --fix

chore: add safe addresses for mainnet and gnosis
  snapshots/cli.js
Due: eslint --fix

feat: kip78 draft if the kip passes
  snapshots/cli.js
Due: eslint --fix

chore: optimize formula
  snapshots/cli.js
Due: eslint --fix

chore: remove the mathmax cast since its not necessary starting october 1st
  snapshots/cli.js
Due: eslint --fix

chore: periods bump
  snapshots/cli.js
Due: eslint --fix

chore: update comments
  snapshots/cli.js
Due: eslint --fix

feat: improve logs, add extra info, styling
  snapshots/cli.js
Due: eslint --fix

chore: rpc block fetcher retry
  snapshots/src/helpers/blocks.js
Due: eslint --fix

chore: solve conflicts, update blocks file
  snapshots/cli.js
  snapshots/src/helpers/blocks.js
Due: eslint --fix

feat: kip86
  snapshots/.env.example
  snapshots/cli.js
  snapshots/src/create-snapshot-from-block-limits.js
Due: eslint --fix

feat: compare subgraph results before proceeding, asking user if he wants to continue anyways
  snapshots/.env.example
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{json,md}
  eslint --fix: any of: *.js
