Repository kleros/pnk-merkle-drop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: incorrect comment
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

feat: specify which addresses in pool
  snapshots/cli.js
Due: eslint --fix

chore: document v4 pool unlikely niche scenario
  snapshots/cli.js
Due: eslint --fix

chore: clarifying comment
  snapshots/cli.js
Due: eslint --fix

feat: address feedback
  snapshots/cli.js
  snapshots/src/create-snapshot-from-block-limits.js
  snapshots/src/helpers/uniswap-math.js
  snapshots/src/helpers/uniswap-v3-positions.js
  snapshots/src/helpers/uniswap-v4-positions.js
Due: eslint --fix

feat: sablier, futarchy, uniswap package, env var
  .yarnrc.yml
  snapshots/.env.example
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/helpers/futarchy-positions.js
  snapshots/src/helpers/sablier-streams.js
  snapshots/src/helpers/subgraph-events.js
  snapshots/src/helpers/uniswap-math.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: deduplicate uniswap
  snapshots/src/helpers/uniswap-math.js
  snapshots/src/helpers/uniswap-v3-positions.js
  snapshots/src/helpers/uniswap-v4-positions.js
Due: eslint --fix

chore: migrate infura to alchemy, retries
  snapshots/.env.example
  snapshots/cli.js
  snapshots/src/helpers/futarchy-positions.js
  snapshots/src/helpers/sablier-streams.js
Due: eslint --fix

chore: add sablier contracts
  snapshots/cli.js
Due: eslint --fix

chore: feedback
  snapshots/cli.js
  snapshots/src/helpers/amm-v2-pair-positions.js
  snapshots/src/helpers/display.js
  snapshots/src/helpers/futarchy-positions.js
  snapshots/src/helpers/retry.js
  snapshots/src/helpers/sablier-streams.js
  snapshots/src/helpers/uniswap-v3-positions.js
  snapshots/src/helpers/uniswap-v4-positions.js
  snapshots/src/helpers/wallet-balances.js
Due: eslint --fix

chore: comment futarchy
  snapshots/cli.js
Due: eslint --fix

feat: adjusted supply field
  snapshots/cli.js
Due: eslint --fix

feat: read last period's drop from published snapshots, refuse re-runs
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/published-snapshots.js
Due: prettier --write, eslint --fix

fix: correct --lastamount help text, fail fast on zero totals and unknown chain prefixes
  snapshots/cli.js
  snapshots/src/helpers/published-snapshots.js
Due: eslint --fix

docs: rewrite snapshots README around the zero-arg monthly run, drop the dead --json-rpc-url flag
  README.md
  snapshots/README.md
  snapshots/cli.js
Due: prettier --write, eslint --fix

refactor: centralize JSON fetching in a shared fetchJson helper, drop the dead S3 uploader
  package.json
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/helpers/fetch-json.js
  snapshots/src/helpers/futarchy-positions.js
  snapshots/src/helpers/published-snapshots.js
  snapshots/src/helpers/subgraph-events.js
  snapshots/src/store-snapshot.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: reject non-positive --lastamount, retry transient in-band subgraph errors
  snapshots/cli.js
  snapshots/src/helpers/fetch-json.js
  snapshots/src/helpers/subgraph-events.js
Due: eslint --fix

fix: pin KIP-86 reads to the period's last block per chain, making re-runs reproducible
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/amm-v2-pair-positions.js
  snapshots/src/helpers/futarchy-positions.js
  snapshots/src/helpers/sablier-streams.js
  snapshots/src/helpers/uniswap-v3-positions.js
  snapshots/src/helpers/uniswap-v4-positions.js
  snapshots/src/helpers/wallet-balances.js
Due: prettier --write, eslint --fix

fix: stamp the period's end block into snapshots, making re-runs byte-identical
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/create-snapshot-from-block-limits.js
Due: prettier --write, eslint --fix

fix: abort when a stake subgraph reports indexing errors or lags the period end
  snapshots/.env.example
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/subgraph-events.js
Due: prettier --write, eslint --fix

feat: automate the monthly snapshot run with a scheduled GitHub workflow
  .github/workflows/monthly-snapshot.yml
  snapshots/README.md
Due: prettier --write

feat: run the monthly snapshots from GitHub Actions, pinning the period with a new --period flag
  .github/workflows/monthly-snapshot.yml
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/published-snapshots.js
Due: prettier --write, eslint --fix

fix: exclude coop vesting on Ethereum Sablier and Arbitrum LlamaPay from the KIP-86 supply
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/sablier-streams.js
  snapshots/src/helpers/vesting-escrows.js
Due: prettier --write, eslint --fix

docs: fix the Sablier oracle-revert comment, flag the ethers 5.0 dependency
  snapshots/src/helpers/sablier-streams.js
Due: eslint --fix

fix: skip only price-gated Sablier streams, not any CALL_EXCEPTION
  snapshots/src/helpers/sablier-streams.js
Due: eslint --fix

fix: fail if LlamaPay events don't add up to the factory's escrow count
  snapshots/src/helpers/vesting-escrows.js
Due: eslint --fix

fix: skip a price-gated Sablier stream only on a proven revert, not an RPC failure
  snapshots/src/helpers/sablier-streams.js
Due: eslint --fix

feat(snapshots): check every run before publishing, and sign seedings locally
  .eslintrc.json
  .github/workflows/snapshots-tests.yml
  .nvmrc
  snapshots/README.md
  snapshots/cli.js
  snapshots/package.json
  snapshots/src/config.js
  snapshots/src/create-snapshot-from-block-limits.js
  snapshots/src/helpers/amm-v2-pair-positions.js
  snapshots/src/helpers/blocks.js
  snapshots/src/helpers/redact.js
  snapshots/src/helpers/sablier-streams.js
  snapshots/src/helpers/uniswap-v4-positions.js
  snapshots/src/invariants.js
  snapshots/src/reward.js
  snapshots/src/seeding.js
  snapshots/src/self-test.js
  snapshots/test/config.test.js
  snapshots/test/fixtures/generate-golden.js
  snapshots/test/fixtures/golden-2026-08.json
  snapshots/test/golden.test.js
  snapshots/test/invariants.test.js
  snapshots/test/kip86-helpers.test.js
  snapshots/test/live/kip86-exclusions.test.js
  snapshots/test/live/onchain.test.js
  snapshots/test/live/providers.js
  snapshots/test/merkle.test.js
  snapshots/test/redact.test.js
  snapshots/test/reward.test.js
  snapshots/test/seeding.test.js
  snapshots/test/self-test.test.js
  snapshots/test/stake-averaging.test.js
  snapshots/test/subgraph-events.test.js
  snapshots/test/support/fake-chain.js
  snapshots/test/support/snapshot.js
  snapshots/test/support/subgraph-server.js
  snapshots/verify-snapshot.js
Due: prettier --write, eslint --fix

fix(snapshots): sort merkle leaves with an explicit comparator
  snapshots/src/invariants.js
Due: eslint --fix

feat(snapshots): sign seedings on the owner's Trezor by default
  snapshots/README.md
  snapshots/src/seeding.js
  snapshots/test/seeding.test.js
Due: prettier --write, eslint --fix

feat(snapshots): check the formula's stake against the last period's published snapshots
  snapshots/README.md
  snapshots/cli.js
  snapshots/src/helpers/published-snapshots.js
  snapshots/src/helpers/redact.js
  snapshots/src/invariants.js
  snapshots/src/self-test.js
  snapshots/test/invariants.test.js
  snapshots/test/redact.test.js
  snapshots/verify-snapshot.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,md}
  eslint --fix: any of: *.js
